//@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400,500,600);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
    background-color: whitesmoke;
}
.start{
    margin-top: 150px;
}

.searchbar{
    background-color: #3f99c3;
    height: 120px;
}
.searchbar>form{
    margin-top: 30px;
}
.resultbox{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border-right: 2px solid #3f99c3;
    border-left: 2px solid #3f99c3;
}
.resultbox>h3{
    margin-left: 7%;
}
.sponsored-box{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.right{
    //width:100%;
    border-right: 2px solid #3f99c3;
    border-left: 2px solid #3f99c3;
    border-radius: 20px;
}
.box{
    width: 100%;
    //background-image: url("");
    padding-left: 7%;
    padding-right: 7%;
    //margin:10px;
    font-size: 16px;
}

.box strong{
    font-weight: 500;
}
.btn img{
    width: 13px;
}
.box-list li{
    background-color: #009933;
    margin:3px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.box-list img{
    width: 100%;
}
.name{
    font-size: large;
}
.name a{
    color: #FF0000;
    font-weight: bold;
    font-weight: 500;
    font-size: 18px;
}
.name a:hover{
    transition:linear 0.2s;
    text-decoration: none;
    color: #FF0660;
    text-shadow: 2px 2px 2px 2px;
    font-size: 18.4px;
}

   










.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    color: #a7fb9d
    //margin-top: 32%;
    background:rgba(167, 251, 151, 0.19);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}
.caption h3{
    margin-top: 25%;
}



